.top{
    width:15%;
    float: right;
}

.ramones{
    width: 50%;
}

.ironic{
 width:50%;   
}

h1{
 text-align: center;   
}

button{
 text-align: center;   
 width: 32%;
 background:none;
 color: white;
 font-family: verdana, sans-serif;
 padding: 15px;
 font-size: 120%;
 border-radius: 8px;
 border:solid green ;
 transition-duration: 0.4s;
 cursor: pointer;
}

button:hover{
 background: green;   
}

.button1{
 width: 15%;   
}

.button2{
 width:32%;   
}

body{
 background: #3a3b3c;
 color: white;
 font-family: verdana, sans-serif;
}

a{
 color: #90ee90;
}